@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Playfair Display';
  src: url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
}

@font-face {
  font-family: 'Inter';
  src: url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
}