.env
backend/.env
node_modules/
client/dist/
.DS_Store
sandbox/dist/assets/var*
sandbox/var*
.env.production
.env.developement
backend/.env.production
backend/.env.developement
client/.env.production
client/.env.developement
.env.development
.env.example
